

.first{
    display: block;
}

.second{
    display: block;
}

.third{
    display: block;
}
.titre-verif{
    font-style: italic;
    font-weight:lighter;
}

.input-structure{
    height: 3em;
    width:21em;
}