.content-header{
    background-color:  #f7f7f7;
    font-family: 'Open Sans','Sans Serif';
    /* height: 10em; */
}

.carousel-slider{
    height: 15em;

}

.carousel-slider .carousel-div{
    height:100%;
    width:100%;
    background: #ffffff;
    text-align: center;
    display: flex;
    justify-content:space-around;
}