.body-new-offre {
    display: flex;
    justify-content: center;
}

.header-new-offre{
    padding: 2em;
    margin:1em 1em;
    background:#fff;
}

.offre-container-tst{
    background:rgb(204, 206, 211);
}


